.desktop-border {
    border-right: 1px solid #cb5a3f;
  }
@media (max-width:480px) {
    .desktop-border {
        border-bottom: 1px solid #cb5a3f;
    }
    .email_button {
        padding-bottom:20px !important;
    }
    .email_text {
        padding-top:20px !important ;
    }
  }